#titu{
    text-align: center;
    color: darkblue;
    font-style: italic;
    background-color: aqua;
    font-size: 25px;
}
.titus{
    color: cornflowerblue;
    font-family: sans-serif;
    font-style:oblique;
    transition: all 0.5s linear;
}
.p{
    font-size: 20px;
    animation: change-color 5s linear 0.5s 4 normal forwards running;
    border-left: 6px orange solid;
    border-top: 6px orange solid;
    border-radius: 16px;
    text-align: justify;
}
#CSAI{
    width: 300px;
    display: inline-block;
    margin: 10px;
    border: 6px blue double;
}
#CSAI2{
    width: 550px;
    display: inline-block;
    float: right;
    margin: 10px;
    border: 6px blue double;
}